@font-face {
  font-family: 'TT Norms';
  src: url('../fonts/TT_Norms_Pro_Regular.woff');
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  font-weight: bold;
  src: url('../fonts/TT_Norms_Pro_Bold.woff');
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy_Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  font-weight: bold;
  src: url('../fonts/Gilroy_Bold.ttf');
  font-display: swap;
}

@media (prefers-reduced-motion) {
  /* disable animations if user have a reduced motion setting */
  body *,
  body *::before,
  body *::after  {
    animation: none !important;
    transition: none !important;
    transition-duration: none !important;
  }
}

* {
  -webkit-font-smoothing: antialiased;
}

body {
  color: #353535;
  min-height: 100vh;
}

.outer-container {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Gilroy', sans-serif;
  font-weight: bold;
}

img {
  width: 100%;
  height: auto;
}

.container {
  max-width: 700px;
  margin: auto;
}

/* Media Queries */
@media (max-width: 767px) {
  .outer-container {
    padding: 0 20px;
  }
  .container {
    padding: 0 20px;
  }
  .post-part {
    font-size: 18px;
  }
  .post-part pre {
    font-size: 14px;
  }
  .blog-post-meta {
    font-size: 16px;
  }
  h1 {
    font-size: 36px;
    line-height: 45px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 18px;
  }
}
