@font-face {
  font-family: 'HelveticaNowText';
  src: url('../fonts/HelveticaNowText_Regular.woff');
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowText';
  font-weight: bold;
  src: url('../fonts/HelveticaNowText_Bold.woff');
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowText';
  font-weight: 500;
  src: url('../fonts/HelveticaNowText_Medium.woff');
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy', 'sans-serif';
  font-weight: bold;
  src: url('../fonts/Gilroy_Bold.woff');
  font-display: swap;
}

@media (prefers-reduced-motion) {
  /* disable animations if user have a reduced motion setting */
  body *,
  body *::before,
  body *::after  {
    animation: none !important;
    transition: none !important;
    transition-duration: none !important;
  }
}

* {
  -webkit-font-smoothing: antialiased;
}

body {
  color: #214159;
  min-height: 100vh;
  overflow-x: hidden;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.25rem;
}

h1,
h2,
h3 {
  font-family: 'Gilroy';
  font-weight: bolder;
  line-height: 1;
}

img,
svg {
  width: 100%;
  height: auto;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.page-enter-active,
.page-leave-active {
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: 0.1s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}
