@font-face {
  font-family: 'HelveticaNowText';
  src: url('../fonts/HelveticaNowText_Regular.woff');
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowText';
  font-weight: bold;
  src: url('../fonts/HelveticaNowText_Bold.woff');
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy', 'sans-serif';
  src: url('../fonts/Gilroy_Regular.woff');
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy', 'sans-serif';
  font-weight: bold;
  src: url('../fonts/Gilroy_Bold.woff');
  font-display: swap;
}

@media (prefers-reduced-motion) {
  /* disable animations if user have a reduced motion setting */
  body *,
  body *::before,
  body *::after  {
    animation: none !important;
    transition: none !important;
    transition-duration: none !important;
  }
}

* {
  -webkit-font-smoothing: antialiased;
}

body {
  color: #163960;
  min-height: 100vh;
  overflow-x: hidden;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.875rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1.125rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Gilroy';
  font-weight: bolder;
  line-height: 1;
}

img {
  width: 100%;
  height: auto;
}
